@mixin buttons($bckgrn-color) {
    padding: 10px 20px;
    outline: none;
    background-color: $bckgrn-color;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

@mixin formContainer ($height) {
    background-color: $purple-main;
    min-height: $height;
    min-width: 20vw;
    border-radius: 10px;
    padding: 20px;
    transform: scale(0);
    display: none; // delete after for transition effect
    transition: 500ms all ease-in-out;
}